{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>
      Yes or No
    </h2>
    <span class="flex"></span>
    {{#paper-button iconButton=true href="https://github.com/djsegal/yes-or-no" target="_blank"}}
      {{fa-icon "github" size=2}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
